<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LinqToSalesforce.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="sfusername" value="---" />
		<add key="sfpassword" value="---" />
	</appSettings>
	<applicationSettings>
		<LinqToSalesforce.Test.Properties.Settings>
			<setting name="LinqToSalesforce_Test_force_com_SforceService"
			  serializeAs="String">
				<value>https://test.salesforce.com/services/Soap/c/25.0</value>
			</setting>
		</LinqToSalesforce.Test.Properties.Settings>
	</applicationSettings>
</configuration>
